@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  width: 480px;
  max-width: 100%;
  min-width: 480px;
}

header {
  display: flex;
  color: white;
  width: 100%;
  background-color: #011827;
  padding: 16px 16px 0px 16px;
  height: 100px;
}
@media screen and (max-width: 800px) {
  header {
    padding: 20px;
    height: 80px;
  }
}

header h1 {
  display: inline;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  padding: 44px 0px 0px 20px;
}
@media screen and (max-width: 800px) {
  header h1 {
    padding: 0 0 0 10px;
    font-size: 24px;
    width: 50px;
  }
}

#navbar {
  display: flex;
  font-weight: 500;
  background-color: #011827;
  list-style-type: none;
  justify-content: center;
  padding-top: 24px;
}
@media screen and (max-width: 800px) {
  #navbar {
    padding: 0;
  }
}

#navbar a {
  display: block;
  color: white;
  padding: 20px;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  #navbar a {
    visibility: hidden;
  }
}

#navbar a:hover {
  color: #8ACFE5;
}

#home {
  position: relative;
  text-align: center;
}

#homeImg {
  width: 100%;
  margin: 0 auto;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  gap: 20px;
  bottom: -5%;
  left: 50%;
}
@media screen and (max-width: 800px) {
  .btn-container {
    flex-direction: column;
    align-items: center;
    background-color: white;
    flex-direction: column-reverse;
    gap: 20px;
    bottom: 0;
  }
}

.__halfCover {
  padding: 0;
  position: absolute;
  transform: translate(-50%);
}
@media screen and (max-width: 800px) {
  .__halfCover {
    padding: 40px 0;
    position: static;
    transform: none;
    align-items: center;
  }
}

/* All them button styles */
.btn {
  width: 308px;
  height: 66px;
  border-radius: 4px;
  border-style: none;
  font-size: 24px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
}

.btn__red {
  color: white;
  background-color: #E3170A;
}
@media screen and (max-width: 800px) {
  .btn__red {
    color: #36769D;
    background-color: transparent;
    height: 40px;
    text-decoration: underline;
    font-size: 16px;
  }
}

.split .btn {
  color: white;
  background-color: #E3170A;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .split .btn {
    height: 56px;
    width: 250px;
    font-size: 18px;
    margin: 20px 0;
  }
}

.btn__blue {
  color: black;
  background-color: #8ACFE5;
}

.btn__blueLined {
  background-color: #011827;
  color: #8ACFE5;
  border: 2px solid #8ACFE5;
}

.btn__smallRed {
  color: white;
  background-color: #E3170A;
  width: 180px;
  height: 44px;
  font-size: 16px;
}

#reviews {
  display: flex;
  background-color: white;
  align-items: center;
  margin: 100px 0 100px 0;
  overflow: hidden;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  #reviews {
    scroll-snap-type: x mandatory;
    margin: 0 0 40px 0;
    overflow-x: auto;
    justify-content: flex-start;
  }
}

.review {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
@media screen and (max-width: 800px) {
  .review {
    flex: 0 0 100%;
    min-width: 80%;
  }
}

.review img {
  border-radius: 50%;
  margin-right: 20px;
  height: 96px;
  width: 96px;
}
@media screen and (max-width: 800px) {
  .review img {
    height: 72px;
    width: 72px;
  }
}

.review q {
  font-size: 24px;
  font-style: italic;
}

.review p {
  padding-top: 10px;
  font-size: 18px;
}

#challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 100px;
}
@media screen and (max-width: 800px) {
  #challenges {
    margin: 0;
  }
}

h2 {
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  margin: 0 20px 80px 20px;
  font-size: 36px;
}
@media screen and (max-width: 800px) {
  h2 {
    margin: 80px 0 20px 0;
    font-size: 32px;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media screen and (max-width: 800px) {
  .card-container {
    scroll-snap-type: x mandatory;
    overflow-x: visible;
    justify-content: flex-start;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 800px) {
  .card {
    flex: 0 0 100%;
    min-width: 100%;
  }
}

.card img {
  width: 100%;
  height: 50%;
}

small {
  padding-left: 20px;
  font-size: 14px;
}

.card h3 {
  font-size: 28px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}

.cardTxt img {
  height: 14px;
  width: 14px;
}

.starsTxt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4px 0 28px 0;
}

.stars {
  display: flex;
  gap: 4px;
}

.cardTxt {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card p {
  font-size: 18px;
  font-weight: 400;
}

.card .btn {
  margin-top: 20px;
  align-self: flex-end;
}

#quote {
  display: flex;
  flex-direction: column;
  padding: 200px;
  width: 100%;
  background-color: #011827;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  #quote {
    padding: 100px 10px;
  }
}

#quote q {
  color: white;
  font-size: 28px;
}

#quote .btn {
  margin: 40px;
}

#block {
  height: 920px;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}
@media screen and (max-width: 800px) {
  #block {
    height: auto;
    margin-bottom: 100px;
  }
}

.split {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .split {
    flex-direction: column;
  }
}

.split:last-of-type {
  flex-direction: row-reverse;
}
@media screen and (max-width: 800px) {
  .split:last-of-type {
    flex-direction: column;
  }
}

.splitImg {
  display: flex;
  width: 50%;
}
@media screen and (max-width: 800px) {
  .splitImg {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  #block img {
    width: 100%;
  }
}

.splitTxt {
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: 50%;
  background-color: white;
  padding: 100px;
}
@media screen and (max-width: 800px) {
  .splitTxt {
    width: 100%;
    padding: 40px 20px;
  }
}

.splitTxt h3 {
  font-size: 32px;
  font-family: "roboto", sans-serif;
  font-weight: 700;
}

.splitTxt p {
  padding: 24px 0 24px 0;
  font-size: 24px;
}

footer {
  display: flex;
  padding: 120px;
  gap: 80px;
  height: 467px;
  width: 100%;
  color: white;
  background-color: #011827;
  font-size: 18px;
}
@media screen and (max-width: 800px) {
  footer {
    padding: 80px 20px;
    gap: 40px;
    height: auto;
    flex-direction: column;
  }
}

.footerTxt:nth-child(1) {
  width: 50%;
}
@media screen and (max-width: 800px) {
  .footerTxt:nth-child(1) {
    width: 100%;
  }
}

footer h3 {
  padding-bottom: 8px;
  font-family: "roboto", sans-serif;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */