@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: zwhite;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  max-width: 100%;
  min-width: 5rem;
  font-size: 16px;
}

header {
  display: flex;
  color: white;
  width: 100%;
  background-color: #011827;
  padding: 1rem 0 1rem;
  height: 6.25rem;
}
@media screen and (max-width: 800px) {
  header {
    padding: 1.25rem;
    height: 5rem;
  }
}

header h1 {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  padding: 2.188rem 0 0 1.25rem;
}
@media screen and (max-width: 800px) {
  header h1 {
    padding: 0 0 0 0.625rem;
    font-size: 1.5rem;
    width: 3.125rem;
  }
}

#navbar {
  display: flex;
  font-weight: 500;
  background-color: #011827;
  list-style-type: none;
  justify-content: center;
  padding-top: 1.5rem;
}
@media screen and (max-width: 800px) {
  #navbar {
    padding: 0;
  }
}

#navbar a {
  display: block;
  color: white;
  padding: 1.25rem;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  #navbar a {
    visibility: hidden;
  }
}

#navbar a:hover {
  color: #8ACFE5;
}

#home {
  position: relative;
  text-align: center;
}

#home-image {
  width: 100%;
  margin: 0 auto;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  gap: 1.25rem;
  bottom: -5%;
  left: 50%;
}
@media screen and (max-width: 800px) {
  .btn-container {
    flex-direction: column;
    align-items: center;
    background-color: white;
    flex-direction: column-reverse;
    gap: 1.25rem;
    bottom: 0;
  }
}

.__halfCover {
  padding: 0;
  position: absolute;
  transform: translate(-50%);
}
@media screen and (max-width: 800px) {
  .__halfCover {
    padding: 2.5rem 0;
    position: static;
    transform: none;
    align-items: center;
  }
}

/* All them button styles */
.btn {
  width: 19.25rem;
  height: 4.125rem;
  border-radius: 0.25rem;
  border-style: none;
  font-size: 1.5rem;
  font-family: "roboto", sans-serif;
  font-weight: 500;
}

.btn__red {
  color: white;
  background-color: #E3170A;
}
@media screen and (max-width: 800px) {
  .btn__red {
    color: #36769D;
    background-color: transparent;
    height: 2.5rem;
    text-decoration: underline;
    font-size: 1rem;
  }
}

.split .btn {
  color: white;
  background-color: #E3170A;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .split .btn {
    height: 3.5rem;
    width: 15.625rem;
    font-size: 1.125rem;
    margin: 1.25rem 0;
  }
}

.btn__blue {
  color: black;
  background-color: #8ACFE5;
}

.btn__blueLined {
  background-color: #011827;
  color: #8ACFE5;
  border: 0.125rem solid #8ACFE5;
}

.btn__smallRed {
  color: white;
  background-color: #E3170A;
  width: 10rem;
  height: 2.75rem;
  font-size: 1rem;
}

#reviews {
  display: flex;
  background-color: white;
  align-items: center;
  margin: 6.25rem 0 6.25rem 0;
  overflow: hidden;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  #reviews {
    scroll-snap-type: x mandatory;
    margin: 0 0 2.5rem 0;
    overflow-x: auto;
    justify-content: flex-start;
  }
}

.review {
  display: flex;
  flex-direction: row;
  padding: 1.25rem;
}
@media screen and (max-width: 800px) {
  .review {
    flex: 0 0 100%;
    min-width: 80%;
  }
}

.review img {
  border-radius: 50%;
  margin-right: 1.25rem;
  height: 6rem;
  width: 6rem;
}
@media screen and (max-width: 800px) {
  .review img {
    height: 6rem;
    width: 6rem;
  }
}

.review q {
  font-size: 1.5rem;
  font-style: italic;
}

.review p {
  padding-top: 0.625rem;
  font-size: 1.125rem;
}

#challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.625rem 6.25rem;
}
@media screen and (max-width: 800px) {
  #challenges {
    margin: 0;
  }
}

h2 {
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  margin: 0 1.25rem 5rem 1.25rem;
  font-size: 2.25rem;
}
@media screen and (max-width: 800px) {
  h2 {
    margin: 5rem 0 1.25rem 0;
    font-size: 2rem;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  overflow: hidden;
  flex-direction: row;
}
@media screen and (max-width: 800px) {
  .card-container {
    justify-content: flex-start;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    padding-left: 2.5rem;
    padding-right: 0;
    gap: 1.25rem;
    width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0.625rem;
  border-radius: 5px;
  min-width: 300px;
  box-shadow: 0px 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 800px) {
  .card {
    flex: 0 0 85%;
  }
}

.card img {
  border-radius: 5px 0;
  width: 100%;
  height: 50%;
}

small {
  padding-left: 1.25rem;
  font-size: 0.875rem;
}

.card h3 {
  font-size: 1.75rem;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}

.stars img {
  height: 0.875rem;
  width: 0.875rem;
}

.stars-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.25rem 0 1.75rem 0;
}

.stars {
  display: flex;
  gap: 0.25rem;
}

.card-text {
  padding: 1.25rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card p {
  font-size: 1.125rem;
  font-weight: 400;
}

.card .btn {
  margin-top: 1.25rem;
  align-self: flex-end;
}

#quote {
  display: flex;
  flex-direction: column;
  padding: 12.5rem;
  width: 100%;
  background-color: #011827;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  #quote {
    padding: 6.25rem 0.625rem;
  }
}

#quote q {
  color: white;
  font-size: 1.75rem;
}

#quote .btn {
  margin: 2.5rem;
}

#split.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.split {
  display: flex;
  flex-direction: row;
  height: 31.25rem;
  width: 100%;
  max-width: 1280px;
}
@media screen and (max-width: 800px) {
  .split {
    flex-direction: column;
    height: auto;
  }
}

.split:last-of-type {
  flex-direction: row-reverse;
  margin-bottom: 12.5rem;
}
@media screen and (max-width: 800px) {
  .split:last-of-type {
    flex-direction: column;
    margin-bottom: 6.25rem;
  }
}

.split-image {
  display: flex;
  width: 50%;
}
@media screen and (max-width: 800px) {
  .split-image {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  #split-container img {
    width: 100%;
  }
}

.split-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
  padding: 6vw;
}
@media screen and (max-width: 800px) {
  .split-text {
    width: 100%;
    padding: 2.5rem 1.25rem;
  }
}

.split-text h3 {
  font-size: 2rem;
  font-family: "roboto", sans-serif;
  font-weight: 700;
}

.split-text p {
  padding: 1.5rem 0 1.5rem 0;
  font-size: 1.5rem;
}

footer {
  display: flex;
  padding: 11.25rem;
  gap: 5rem;
  height: 29rem;
  width: 100%;
  color: white;
  background-color: #011827;
  font-size: 1.125rem;
}
@media screen and (max-width: 800px) {
  footer {
    padding: 5rem 1.25rem;
    gap: 2.5rem;
    height: auto;
    flex-direction: column;
  }
}

.footer-text:nth-child(1) {
  width: 50%;
}
@media screen and (max-width: 800px) {
  .footer-text:nth-child(1) {
    width: 100%;
  }
}

footer h3 {
  padding-bottom: 0.5rem;
  font-family: "roboto", sans-serif;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */